<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sample.css' %}">
</head>
<body>
    <form action="" class="form">
        <input id="input" type="text" placeholder="customer_id"><br>
        <input id="input" type="text" placeholder="customer_name"> <br>
        <input id="input" type="text" placeholder="org"> <br>
        <input id="input" type="text" placeholder="email"><br>
        <input id="input" type="text" placeholder="nid"> <br>
        <input id="input" type="text" placeholder="phone"> <br>
        <input type="submit" value="SUbmit">

    </form>
</body>
</html>